<MudNavMenu Color="Color.Primary" Rounded Dense Bordered Margin="Margin.Dense" Class="pa-2 overflow-auto mb-3">
    <MudNavLink Match="NavLinkMatch.All" Href="/">Home</MudNavLink>
    <MudDivider Class="my-2" Light DividerType="DividerType.Middle" />
    <MudNavGroup Title="Core" ExpandIcon="@Icons.Material.Filled.ExpandMore" Expanded>
        <MudNavLink Match="NavLinkMatch.All" Href="/core/">Overview</MudNavLink>
        <div class="my-2"></div>
        <MudNavLink Match="NavLinkMatch.All" Href="/core/unit">Unit</MudNavLink>
    </MudNavGroup>
</MudNavMenu>
