@using Humanizer;

<span>
    <MudText Class="d-inline">
        <RelativeDateTime DateTimeUtc="AtUtc" />
    </MudText>

    <MudText Class="d-inline">
        by
    </MudText>

    @if (ByName is null)
    {
        <MudText Class="mud-text-disabled d-inline">
            (deleted user)
        </MudText>
    }
    else
    {
        <MudText Class="d-inline">
            @ByName
        </MudText>
    }
</span>
