@namespace Tyne.Blazor.Filtering.Controllers
@typeparam TRequest
@typeparam TValue
@inherits TyneSingleSelectFilterControllerBase<TRequest, TValue>

@{
    var selectItems = SelectItems;
    <div class="d-flex flex-column">
        @if (Label is not null)
        {
            <MudText Typo="Typo.h6" Align="Align.Center">
                @Label
            </MudText>
        }
        <MudRadioGroup T="TValue" Value="Value" ValueChanged="SetValueAsync" Disabled="selectItems is null">
            @if (selectItems is not null)
            {
                <div class="@RadioOptionContainerClassName">
                    @foreach (var selectItem in selectItems)
                    {
                        <MudRadio Value="selectItem.Value" Dense="true">
                            @RenderItem(selectItem)
                        </MudRadio>
                    }
                </div>
            }
            else
            {
                <MudProgressCircular Indeterminate="true" Color="Color.Default" />
            }
        </MudRadioGroup>
    </div>
}
