@page "/core/"

<MudText Typo="Typo.h3">
    Tyne Core
</MudText>

<DocSection>
    <MudText Typo="Typo.body1">
        The Tyne Core library provides a framework for creating ASP.NET Core systems.
    </MudText>
</DocSection>

<DocSection Title="Getting Started">
    <ul class="ml-2">
        <li>
            <MudLink Href="/core/unit">- Unit</MudLink>
        </li>
        <li>
            <MudLink Href="/core/results">- Results</MudLink>
        </li>
        <li>
            <MudLink Href="/core/errors">- Errors</MudLink>
        </li>
    </ul>
</DocSection>
