@namespace Tyne.Aerospace.Client
@using Microsoft.Extensions.Options
@using Tyne.Aerospace.Client.Infrastructure.Layouts
@inherits LayoutComponentBase
@inject ThemeService ThemeService

<div class="ta-bg-container">
    <div class="ta-bg-img">
    </div>
</div>

<MudThemeProvider Theme="ThemeService.Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Dense="true" DisableGutters="true">
        <MudContainer Class="d-flex flex-row align-center gap-5" MaxWidth="MaxWidth.Large">
            <MudLink Href="./"
                     Typo="Typo.h4"
                     Color="Color.Inherit"
                     Underline="Underline.None"
                     Class="d-flex flex-row align-center">
                <img src="./_content/TyneAerospaceClient/tyne-aerospace-simple.svg" alt="Tyne Aerospace logo" height="26rem" />
            </MudLink>
            <NavLink href="./" Match="NavLinkMatch.All" class="mud-typography mud-link mud-inherit-text mud-typography-h5" ActiveClass="mud-link-underline-always">
                Dashboard
            </NavLink>
            <NavLink href="./components" class="mud-typography mud-link mud-inherit-text mud-typography-h5" ActiveClass="mud-link-underline-always">
                Components
            </NavLink>
            <NavLink href="./systems" class="mud-typography mud-link mud-inherit-text mud-typography-h5" ActiveClass="mud-link-underline-always">
                Systems
            </NavLink>
            <Environment Mode="EnvironmentMode.Include" Matching="EnvironmentMatching.Exact" Filter="Production">
                <MudDivider Vertical="true"
                            FlexItem="true"
                            Class="my-2"
                            Style="opacity: 50%;" />
                <NavLink href="https://alexnoddings.github.io/Tyne/" class="mud-typography mud-link mud-inherit-text mud-typography-h5 d-flex align-center gap-1">
                    Tyne Docs
                    <MudIcon Icon="@Icons.Material.Filled.OpenInNew" Size="Size.Small" />
                </NavLink>
            </Environment>
            <Environment Mode="EnvironmentMode.Exclude" Matching="EnvironmentMatching.Exact" Filter="Production" Context="EnvironmentName">
                <MudDivider Vertical="true"
                            FlexItem="true"
                            Class="my-2"
                            Style="opacity: 50%;" />
                <MudText Typo="Typo.h5"
                         Class="pointer-events-none"
                         Style="opacity: 50%;">
                    @EnvironmentName
                </MudText>
            </Environment>
            <BuildTagContent />
            <MudSpacer />
            <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                <ActivatorContent>
                    <div class="d-flex flex-row align-center">
                        <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.Architecture" Size="Size.Large" />
                    </div>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Href="./theme" Icon="@Icons.Material.Filled.Palette" IconColor="Color.Primary" IconSize="Size.Large">
                        Theme
                    </MudMenuItem>
                    <MudDivider Light="true" Class="my-2" />
                    <MudMenuItem Disabled="true">
                        <div class="d-inline-flex gap-1">
                            <span>Breakpoint:</span>
                            <code class="d-block d-sm-none">xs</code>
                            <code class="d-none d-sm-block d-md-none">sm</code>
                            <code class="d-none d-md-block d-lg-none">md</code>
                            <code class="d-none d-lg-block d-xl-none">lg</code>
                            <code class="d-none d-xl-block d-xxl-none">xl</code>
                            <code class="d-none d-xxl-block">xxl</code>
                        </div>
                    </MudMenuItem>
                </ChildContent>
            </MudMenu>
        </MudContainer>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
