@page "/examples/buttons"

<TynePageTitle Value="Examples" />

<MudContainer MaxWidth="MaxWidth.Medium" Class="pt-6">
    <MudPaper Class="ml-n4 px-2 pt-4 pb-2">
        <MudGrid>
            <MudItem Class="d-flex flex-column align-center gap-2" xs="3">
                <TyneButton Size="_size" Color="_colour" OnClick="ClickHandler" LockStyle="ButtonLockStyle.SpinnerStart" Variant="Variant.Text">
                    TyneButton
                </TyneButton>
                <TyneButton Size="_size" Color="_colour" OnClick="ClickHandler" LockStyle="ButtonLockStyle.SpinnerStart" Variant="Variant.Filled">
                    TyneButton
                </TyneButton>
                <TyneButton Size="_size" Color="_colour" OnClick="ClickHandler" LockStyle="ButtonLockStyle.SpinnerStart" Variant="Variant.Outlined">
                    TyneButton
                </TyneButton>
            </MudItem>
            <MudItem Class="d-flex flex-column align-center gap-2" xs="3">
                <TyneButton Size="_size" Color="_colour" OnClick="ClickHandler" LockStyle="ButtonLockStyle.SpinnerEnd" Variant="Variant.Text">
                    TyneButton
                </TyneButton>
                <TyneButton Size="_size" Color="_colour" OnClick="ClickHandler" LockStyle="ButtonLockStyle.SpinnerEnd" Variant="Variant.Filled">
                    TyneButton
                </TyneButton>
                <TyneButton Size="_size" Color="_colour" OnClick="ClickHandler" LockStyle="ButtonLockStyle.SpinnerEnd" Variant="Variant.Outlined">
                    TyneButton
                </TyneButton>
            </MudItem>
            <MudItem Class="d-flex flex-column align-center gap-2" xs="3">
                <TyneButton Size="_size" Color="_colour" OnClick="ClickHandler" LockStyle="ButtonLockStyle.Bar" Variant="Variant.Text">
                    TyneButton
                </TyneButton>
                <TyneButton Size="_size" Color="_colour" OnClick="ClickHandler" LockStyle="ButtonLockStyle.Bar" Variant="Variant.Filled">
                    TyneButton
                </TyneButton>
                <TyneButton Size="_size" Color="_colour" OnClick="ClickHandler" LockStyle="ButtonLockStyle.Bar" Variant="Variant.Outlined">
                    TyneButton
                </TyneButton>
            </MudItem>
            <MudItem Class="d-flex flex-column align-center gap-2" xs="3">
                <TyneButton Size="_size" Color="_colour" OnClick="ClickHandler" LockStyle="ButtonLockStyle.None" Variant="Variant.Text">
                    TyneButton
                </TyneButton>
                <TyneButton Size="_size" Color="_colour" OnClick="ClickHandler" LockStyle="ButtonLockStyle.None" Variant="Variant.Filled">
                    TyneButton
                </TyneButton>
                <TyneButton Size="_size" Color="_colour" OnClick="ClickHandler" LockStyle="ButtonLockStyle.None" Variant="Variant.Outlined">
                    TyneButton
                </TyneButton>
            </MudItem>
        </MudGrid>
        <div class="d-flex flex-row gap-4 align-stretch my-4 px-4">
            <MudSelect @bind-Value="_size" Variant="Variant.Outlined" Label="Size">
                <MudSelectItem Value="Size.Small">Small</MudSelectItem>
                <MudSelectItem Value="Size.Medium">Medium</MudSelectItem>
                <MudSelectItem Value="Size.Large">Large</MudSelectItem>
            </MudSelect>
            <MudSelect @bind-Value="_colour" Variant="Variant.Outlined" Label="Colour">
                @foreach (var c in Enum.GetValues<Color>())
                {
                    <MudSelectItem Value="c">
                        @c.ToDescriptionString()
                    </MudSelectItem>
                }
            </MudSelect>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="() => SetTaskComplete(false)" Disabled="_tcs is null">Complete</MudButton>
            <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="() => SetTaskComplete(true)" Disabled="_tcs is null">Throw</MudButton>
        </div>
    </MudPaper>
</MudContainer>

@code
{
    private TaskCompletionSource? _tcs;
    private Size _size = Size.Medium;
    private Color _colour = Color.Primary;

    private Task ClickHandler() =>
        (_tcs ??= new()).Task;

    private void SetTaskComplete(bool exception)
    {
        _ = exception
            ? _tcs?.TrySetException(new InvalidOperationException("Example page exception."))
            : _tcs?.TrySetResult();

        _tcs = null;
    }
}
