@namespace Tyne.Blazor.Tables.Columns
@typeparam TResponse

<MudTh>
    <div class="d-flex">
        @if (OrderByKey.IsEmpty)
        {
            if (ChildContent is { } childContent)
            {
                <div class="d-flex align-center">
                    @childContent
                </div>
            }
        }
        else
        {
            <MudTableSortLabel T="TResponse" SortLabel="@OrderByKey.Key">
                @ChildContent
            </MudTableSortLabel>
        }
    </div>
</MudTh>
