:root {
    --tyne-palette-background: #d1cdd1;
}

body {
    background: var(--tyne-palette-background);
}

.ta-bg-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 55%;
    max-width: 800px;
    margin: auto;
}

.ta-bg-img {
    background-image: url('./tyne-aerospace.svg');
    background-repeat: no-repeat;
    background-position: center 25%;
    height: 100%;
    opacity: 0.55;
    filter: invert(.5);
}

    .ta-bg-img.ta-bg-img-loading {
        opacity: 1;
        filter: unset;
    }

    .ta-bg-img.ta-bg-img-loading {
        clip-path: polygon(0 0, var(--blazor-load-percentage, 0%) 0, var(--blazor-load-percentage, 0%) 100%, 0 100%);
    }

.mud-appbar .mud-divider {
    border-color: var(--mud-palette-appbar-text);
}

.mud-input-control.rounded-l-0 .mud-input-outlined-border,
.mud-input-control.rounded-s-0 .mud-input-outlined-border {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.mud-input-control.rounded-r-0 .mud-input-outlined-border,
.mud-input-control.rounded-e-0 .mud-input-outlined-border {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.mud-input-control.rounded-0 .mud-input-outlined-border {
    border-radius: 0 !important;
}

.mud-icon-size-extra-small {
    font-size: 1.1rem;
}

.ta-list-simple li::before {
    content: '-';
    margin-right: 6px;
    margin-left: 4px;
}

.ta-source {
    font-size: 14px;
    background-color: #fdfcff;
    border-bottom-right-radius: var(--mud-default-borderradius);
    border-bottom-left-radius: var(--mud-default-borderradius);
}

    .ta-source .hljs {
        background-color: unset;
    }
