@page "/tyne/utilities"
@attribute [DocsPage(PageCategory.Core, "Utilities")]

<TyneTitle Value="Utilities" />

<MudText Typo="Typo.h3">
    Utilities
</MudText>

<DocSection>
    <Title>@Keyword("DisposableAction")</Title>
    <ChildContent>
        <MudText Typo="Typo.body1">
            @Keyword("DisposableAction") provides a way of executing an action when disposed.
        </MudText>
        <SourceCode Type="typeof(Counter)" />
    </ChildContent>
</DocSection>

<DocSection>
    <Title>@Keyword("OrderBy") extension</Title>
    <ChildContent>
        <MudText Typo="Typo.body1">
            Tyne provides extensions for @Keyword("IQueryable<TSource>").
            These are useful for programatically ordering by a property, such as in a search handler.
        </MudText>
    </ChildContent>
</DocSection>