@page "/systems/filtering/controllers/date-time"
@layout FilteringExampleLayout
@attribute [PageTitle("DateTime range controller")]

<DocsTextBlock MultiLine="true">
    <p>
        A controller which presents the user with a <c>DateTime</c> range input.
    </p>
</DocsTextBlock>

<SourceCode T="DateTimeControllerExampleContent" SourceType="SourceCodeType.Component" Name="Filter context">
    <div class="d-flex flex-column align-center">
        <DateTimeControllerExampleContent />
    </div>
</SourceCode>
<SourceCode T="DateTimeControllerExampleRequest" SourceType="SourceCodeType.Type" Name="Request type" ShowSourceByDefault="false" />
