@using MediatR;
@inherits TyneFormBase<Unit, CreatePartType.Request>

<TyneFormDrawerContent TModel="CreatePartType.Request"
                       Form="this">
    <Header>
        <MudText Typo="Typo.h4">
            Create part type
        </MudText>
    </Header>
    <Body Context="PartType">
        <MudTextField T="string"
                      @bind-Value="PartType.Name"
                      For="() => PartType.Name"
                      Label="Name"
                      Margin="Margin.Dense" />
    </Body>
</TyneFormDrawerContent>
