@using MediatR;
@inherits TyneFormBase<Guid, EditPartType.Request>

<TyneFormDrawerContent TModel="EditPartType.Request"
                       Form="this">
    <Header>
        <MudText Typo="Typo.h4">
            Edit part type
        </MudText>
    </Header>
    <Body Context="PartType">
        <MudTextField T="string"
                      @bind-Value="PartType.Name"
                      For="() => PartType.Name"
                      Label="Name"
                      Margin="Margin.Dense" />
    </Body>
    <Footer>
        <TyneFormDrawerDefaultFooter>
            <MudButton OnClick="DeleteAsync"
                       Variant="Variant.Outlined"
                       Color="Color.Error"
                       StartIcon="@Icons.Material.Filled.Delete">
                Delete
            </MudButton>
            <TyneFormDrawerDefaultFooterCancelButton />
            <TyneFormDrawerDefaultFooterSaveButton />
        </TyneFormDrawerDefaultFooter>
    </Footer>
</TyneFormDrawerContent>
