.tex-orbit-selector {
    background: var(--mud-palette-background);
    position: relative;
}

.tex-orbit-selector,
.tex-orbit-selector .tex-orbit-selector-inner {
    height: 162px;
}

.tex-orbit-selector .tex-orbit-track {
    fill: none;
    stroke: #a4a2a4;
    stroke-width: 1;
}

.tex-orbit-selector .tex-orbit-pos {
    fill: #424242;
    cursor: pointer;
}

.tex-orbit-selector .tex-orbit-pos[selected=""] {
    fill: #b82828;
}

.tex-orbit-selector .tex-orbit-label {
    fill: #424242;
    text-anchor: middle;
    font-size: 0.8rem;
}

.tex-orbit-selector .tex-orbit-label[selected=""] {
    fill: #b82828;
}
