<MudItem xs="12" sm="6">
    <MudPaper Class="@OuterClassName" Style="height: 100%;">
        <MudPaper Elevation="0" Class="d-flex flex-row align-center pa-4" Style="height: 100%;">
            <MudIcon Icon="@Icon" Color="@Colour" Class="mr-4" Style="width:54px; height:54px;" />
            <div>
                @ChildContent
            </div>
        </MudPaper>
    </MudPaper>
</MudItem>
