<MudPaper Class="pa-0 pb-1 pr-1 mud-theme-secondary" Style="height: 100%;">
	<MudPaper Elevation="0" Class="d-flex flex-row align-center pa-4" Style="height: 100%;">
		<MudIcon Icon="@Icons.Material.Outlined.Public" Color="Color.Secondary" Class="mr-4" Style="width:54px; height:54px;"></MudIcon>
		<div>
			<MudText Typo="Typo.subtitle1" Class="mb-n1">Next launch</MudText>
			<MudText Typo="Typo.h5">T-@GetNextLaunchCountdown().ToString(@"hh\:mm\:ss")</MudText>
		</div>
	</MudPaper>
</MudPaper>
